<table>
  <tr>
    <th>Title</th>
    <th>Year</th>
    <th>Director</th>
  </tr>
  {{#each movies}}
    <tr>
      <td>{{this.title}}</td>
      <td>{{this.year}}</td>
      <td>{{this.director}}</td>
    </tr>
  {{/each}}
</table>
<form method="GET" action="/movies">
  <input type="text" name="director">
  <input type="submit">
</form>